.client-logos{
	border-bottom: 1px solid;
}

.client-logo{
	a{
		width: 100%;
		height: 128px;
		display: block;
		float: left;
		line-height: 128px;
		position: relative;
	}
	.nr{
		opacity: 1;
		@include transition;
		img{
			max-width: 100%;
		}
	}
	.hf{
		opacity: 0;
		@include transition;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			max-width: 100%;
		}
	}
	a:hover,a:focus{
		.nr{
			opacity: 0;
		}
		.hf{
			opacity: 1;
		}
	}
}

.copyright-section{
	border-top: 1px solid;	
}

.copyright-msg{
	padding: 43px 15px;
	@media (max-width: 991px){
		padding-bottom: 20px;
		padding-top: 30px;
	}
	.media-left{
		line-height: 24px;
		padding-right: 15px;
	}
	.foot-logo{
	}
	a{
		display: inline-block;
	}
}

.foot-payment-helper{
	padding: 43px 15px;
	@media (max-width: 991px){
		padding-top: 0;
		padding-bottom: 30px;
	}
	.dtable{
		@media (max-width: 991px){
			display: table;
		}
	}
	.helper{
		position: relative;
		float: right;
		height: 20px;
		line-height: 24px;
		& + .helper{
			margin-left: 10px;
		}
	}
	img{
		display: block;
	}
	.nr{
		opacity: 1;
		@include transition;
	}
	.hf{
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		@include transition;
	}
	.helper:hover,.helper:focus{
		.nr{
			opacity: 0;
		}
		.hf{
			opacity: 1;
		}
	}
}


.site-footer{
	padding: 25px 0;
}

.footer-sidebar{
	line-height: 24px;
	font-family: $font2;
	.widget{
		@media (max-width: 479px){
			width: 320px;
			max-width: 100%;
			float: none;
			margin: 0 auto;
		}
	}
	
	.widget-title{
		text-transform: uppercase;
		font-family: $font;
		font-weight: 700;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.instafeed{
		margin: -7.5px;
	}
	
	.widget-contact{
		@media (min-width: 1281px){
			padding-left: 50px;
		}
	}
}



.foot-nav{
	li{
		a{
			padding: 0;
			line-height: 24px;
			font-family: $font2;
		}
	}
}

.instafeed{
	.insta-img{
		padding: 7.5px;
		float: left;
		width: calc(100% / 3);
		a{
			display: block;
			position: relative;
			text-align: center;
			line-height: 79px;
			@media (max-width: 1199px){
				line-height: 60px;
			}
			&:after{
				content: "\e038";
				font-family: 'simple-line-icons';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
			}
			&:hover,&:focus{
				&:after{
					z-index: 1;
				}
			}
		}
		img{
			max-width: 100%;
		}
	}
}