.top-bar{
}

.top-contact{
	display: table;
	margin: 0;
	padding: 20px 15px;
	@media (max-width: 767px){
		width: 100%;
		padding: 20px 0;
		text-align: center;
	}
	li{
		float: left;
		@media (max-width: 767px){
			float: none;
			display: inline-block;
		}
		& + li{
			&:before{
				content: '';
				width: 2px;
				height: 14px;
				float: left;
				margin: 3px 22px;
				@media (max-width: 479px){
					margin: 3px 5px;
				}
			}
		}
		a{
			line-height: 16px;
			font-family: $font;
			img{
				margin-right: 11px;
			}
		}
	}
}

.top-menu{
	margin: 0;
	display: table;
	@media (max-width: 767px){
		width: 100%;
		text-align: center;
		position: relative;
	}
	li{
		float: left;
		@media (max-width: 767px){
			float: none;
			display: inline-block;
			position: static;
		}
		a{
			line-height: 60px;
			padding: 0 15px;
			position: relative;
			display: block;
			i{
				font-size: 20px;
			}
			.badge{
				font-family: $font3;
				font-size: 10px;
				padding: 3px 5px;
				position: absolute;
				top: 11px;
				right: 7px;
			}
			& + .dropdown-menu{
				border-radius: 0;
				margin: 0;
				border: none;
				padding: 35px 20px 25px;
				width: 270px;
				right: 0;
				left: auto;
				z-index: 10000;
                box-shadow: 0 6px 12px rgba(0,0,0,0.175);
				@media (max-width: 767px){
					left: 0;
					width: 100%;
				}
				&.top-search{
					padding: 0;
					width: 400px;
				}
				.buttons-row{
					margin-top: 30px;
				}
				.btn{
					line-height: 28px;
					display: inline-block;
					width: calc(50% - 6px);
					& + .btn{
						margin-left: 8px;
						&:hover,&:focus{
						}
					}
				}
				.total-price{
					margin-top: 15px;
					margin-bottom: 30px;
					font-family: $font;
					line-height: 15px;
					span{
						float: right;
						font-size: 16px;
					}
				}
			}
		}
	}	
}

.top-search{
	.form-control{
		background: none;
		height: 60px;
		line-height: 60px;
		border-radius: 0;
		border: none;
		display: block;
		padding: 0 15px;
		width: 100%;
		font-family: $font2;
		@include transition;
		&:focus{
			box-shadow: none;
		}
	}
}

.login-form-dropdown{
	.input-group{
		margin-bottom: 10px;
	}
	.form-control{
		border-radius: 0;
		line-height: 30px;
		height: 30px;
		padding: 0 10px;
		box-shadow: none;
		font-size: 12px;
		border-right: none;
		font-family: $font3;
		@include transition;
		&::-moz-placeholder {
			font-style: italic;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			font-style: italic;
		}
		&::-webkit-input-placeholder {
			font-style: italic;
		}
		&:focus{
			box-shadow: none;
			& + .input-group-addon{
			}
		}
	}
	.input-group-addon{
		border-radius: 0;
		padding: 0 8px;
		font-size: 12px;
		background: none;
		border-left: none;
		@include transition;
	}
	.buttons-row{
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.lang-switch{
		padding-top: 15px;
		position: relative;
		.dropdown-toggle{
			line-height: 1;
			padding: 0;
			i{
				font-size: 20px;
			}
		}
		.dropdown-menu{
			right: 40px;
			top: 15px;
			padding: 10px 20px 18px;
			left: auto;
			@media (max-width: 767px){
				left: 40px;
				right: auto;
			}
			li{
				float: none;
				@media (max-width: 767px){
					display: block;
				}
				& + li{
					margin-top: 5px;
				}
				a{
					line-height: 35px;
					padding: 0;
					text-transform: uppercase;
					font-size: 10px;
					font-family: $font;
					border-bottom: 1px solid;					
				}
			}
		}
	}
	.contact-with{
		.this-title{
			font-size: 10px;
			font-family: $font;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 10px;
		}
		ul{
			display: table;
			li{
				float: left;
				& + li{
					margin-left: 12px;
				}
				a{
					line-height: 1;
					padding: 0;
					i{
						font-size: 12px;
					}
				}
			}
		}
	}
}

.carted-product{
	padding: 0 0 15px;
	border: none;
	box-shadow: none;
	border-bottom: 1px dashed;
	position: relative;
	.pro-img{
		padding-right: 0;
		a{
			padding-left: 0;
			padding-right: 18px;
			line-height: 1;
		}
	}
	.this-title{
		margin: 5px 0;
		font-weight: 400;
		a{
			padding: 0;
			line-height: 1.15;
			font-family: $font;
		}
	}
	.price{
		line-height: 1;
		margin: 0;
		font-weight: 400;
		font-family: $font;
	}
	.close{
		font-size: 10px;
		opacity: 1;
		position: absolute;
		top: 5px;
		right: 0;
	}
	.pro-buy-count{
		padding: 0 10px;
		line-height: 15px;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 10px;
		font-weight: 400;
		font-family: $font;
	}
}