/*Prefix Styles*/
.m0{margin: 0;}
.ml0{margin-left: 0;}
.p0{padding: 0;}
.p05{padding: 0 5px;}

body{
    p{
        line-height: 24px;
    }
    
    /*Section Fix*/
    section, header, footer{
        &.row{            
            margin: 0;
            position: relative;
			z-index: 2;
        }
    }
	
	.container{
		@media (min-width: 1281px){
			width: 1200px;
		}
	}
}

/*Ancore*/
a,.btn,button{
    outline: none;
    @include transition;
    &:before,&:after{
        @include transition;
    }
    &:focus,&:hover{
        outline: none;
        text-decoration: none;
        @include transition;
    }
}

.btn{
	display: inline-block;
	border: 1px solid;
	line-height: 28px;
	border-radius: 0;
	height: 30px;
	font-size: 10px;
	font-family: $font;
	text-transform: uppercase;
	padding: 0 30px;
	text-shadow: none;
	box-shadow: none;
}

.btn-sm{}

.btn-outline{}

.sk-btn{
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font: 12px/46px $font;
	padding: 0 42px;
	border: none;
	@include transition;
	i{
		font-size: 12px;
		margin-left: 15px;
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		top: -5px;
		left: 5px;
		border: 1px solid;
		z-index: 0;
		@include transition;
	}
	&:hover,&:focus{
		&:before{
			top: 0;
			left: 0;
		}
	}
	
	&.no-outline{
		&:before{
			display: none;
		}
	}
}

.shop-sidear-btn{
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font: 12px/46px $font;
	padding: 0 42px;
	border: none;
	@include transition;
}

.section-title{
	max-width: 700px;
	margin: 0 auto 40px;
	.sectionMark{
		display: inline-block;
	}
	.this-title{
		text-transform: uppercase;
		margin-bottom: 20px;
		font-family: $font;
		font-weight: 700;
		span{}
	}
	.this-p{
		font: 16px/30px $font3;
		margin: 0;
	}
}

.section-title2{
	text-align: center;
	margin-bottom: 45px;
	&:before,&:after{
		content: '';
		display: block;
		width: 147px;
		height: 76px;
		border: 6px solid;
		margin: 0 auto;
	}
	&:before{
		border-bottom: none;
	}
	&:after{
		border-top: none;
	}
	
	.this-title{
		font: 700 44.57px/1.1 $font;
		margin-top: 15px;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	p{
		font: 16px/30px $font3;
	}
}

.page-sec-title{
	font: 700 44.57px/1.1 $font;
	margin-top: 0;
	margin-bottom: 52px;
	text-transform: uppercase;
	@media (max-width: 1199px){
		margin-bottom: 40px;
	}
	@media (max-width: 767px){
		font-size: 38px;
	}
	@media (max-width: 479px){
		font-size: 26px;
		margin-bottom: 30px;
	}
}