= content_for :title, "Company Settings"
= content_for :page_title, "Settings"
= content_for :page_desc, "Frontend setups"
= content_for :page_icon, "pe-7s-magic-wand icon-gradient bg-mixed-hopes"

/ = content_for :icon_action do
/   = link_to edit_admin_settings_brand_path(@brand),
/           class: "btn-shadow mr-3 btn btn-primary",
/           style: "font-size: 20px",
/           :"data-original-title" => "Edit information",
/           :"data-placement" => "bottom",
/           :"data-toggle" => "tooltip" do
/     i.pe-7s-edit

.row
  .col-4.py-3
    = render partial: "admin/settings/brand/view", locals: {brand: @brand}