= content_for :title, "Attributes List"
= content_for :page_title, "Attributes List"
= content_for :page_desc, "Product attributes sets listed here"
= content_for :page_icon, "pe-7s-magic-wand icon-gradient bg-mixed-hopes"
= content_for :button_action do
  = link_to "Add New", new_admin_attribute_path, class: "btn btn-primary"

| hello Attributes